body {
  padding-top: 50px;
  position: relative;
}
.header,
.portfolio {
  padding: 20% 30px;
  height: 100%;
}
.header {
  background-color: #a08888;
  color: #fff;
}
.description {
  width: 100%;
}

