body {
  padding-top: 50px;
  position: relative;
}

.navbar-default {
  background-color: #426287;
  border-color: #6da2e0;
}
.navbar-default .navbar-brand {
  color: #b5cbe5;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #b5cbe5;
}
.navbar-default .navbar-nav > li > a {
  color: #b5cbe5;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #426287;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #b5cbe5;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #6da2e0;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #6da2e0;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #6da2e0;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #6da2e0;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #6da2e0;
}
.navbar-default .navbar-toggle {
  border-color: #6da2e0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #6da2e0;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #b5cbe5;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #b5cbe5;
}
.navbar-default .navbar-link {
  color: #b5cbe5;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #b5cbe5;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #6da2e0;
  }
}

.header {
  padding: 15% 30px;
  background-color: #547DAD;
  color: #B5CBE5;
}
.portfolio {
  padding: 5%;
  background-color: #B5CBE5;
  color: #547DAD;
  font-size: 20px;
}
.contact {
  padding: 5%;
  background-color: #547DAD;
  color: #B5CBE5;
}
.description {
  width: 100%;
}
.divider {
  height: 75%;
}
.thumbnail {
  width: 100%;
}
.btn-reddit {
  background-color: #006400;
  color: white;
}


